@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//Colors ;)
$text-white: #ffffff;
$footer-background: #705944;
$meals-bck: rgb(241, 219, 16);

//font
$roboto: 'Roboto', sans-serif;

$radius: 20px